/build/
/bin/
/dist/
/current/
/images/*.icns
/images/*.iconset
.DS_Store
__pycache__/
*.pyc
*.bin
*.jsonl
*.nnb
*.pt
src/core/bot/nn/model/*
!src/core/bot/nn/model/.gitkeep
src/core/engine/build/
src/core/engine/chess_uci
data/*.csv
data/**/*.csv
data/*.npz
data/**/*.npz
data/*.zst
data/**/*.zst
data/openings/opening_book.txt
